azure-core==1.14.0
azure-eventhub==5.5.0
certifi==2021.5.30
chardet==4.0.0
gevent==21.1.2
greenlet==1.1.0
idna==2.10
paho-mqtt==1.5.1
requests==2.25.1
six==1.16.0
uamqp==1.4.0
urllib3==1.26.5
websocket==0.2.1
websocket-client==1.0.1
zope.event==4.5.0
zope.interface==5.4.0
